<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title th:text="${apartment.apartmentName}">Ime</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		<a class="navbar-brand" href="reserved-dates">Apartmani Ukić</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/demo/reserved-dates">Pregled</a>
				</li>

				<li class="nav-item"><a class="nav-link" href="/demo/reservations">Rezervacije</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/demo/apartments">Apartmani</a></li>
			</ul>
			<div class="dropdown-divider"></div>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/demo/login"
					th:if="${user == 'Neregistrirani korisnik'}">Neregistrirani
						korisnik<br>(Prijava)
				</a> <a class="nav-link" href="/demo/logout"
					th:if="${user != 'Neregistrirani korisnik'}" th:inline="text">[[${user}]]<br>(Odjava)
				</a></li>
			</ul>
		</div>
	</nav>



	<div class="container">
		<form method="post" action="apartment" name="mainForm"
			modelAttribute="apartment">
			<div class="row">
				<div class="form-group col-md-6">
					<label for="apartmentNameInput">Naziv apartmana</label> <input
						type="text" class="form-control" id="apartmentNameInput"
						placeholder="" th:value="${apartment.apartmentName}" name="name">
				</div>
					<div class="form-group col-md-6">
						<label for="apartmentInternalNameInput">Interni naziv apartmana</label> <input
							type="text" class="form-control" id="apartmentInternalNameInput"
							placeholder="" th:value="${apartment.internalName}" name="internalName">
					</div>

				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label for="baseCapacityInput">Osnovni kapacitet</label> <input
							type="text" class="form-control" id="baseCapacityInput"
							placeholder="" th:value="${apartment.baseCapacity}" name="internalName">
					</div>
					<div class="form-group col-md-6">
						<label for="additionalCapacityInput">Dodatni kapacitet</label> <input
							type="text" class="form-control" id="additionalCapacityInput"
							placeholder="" th:value="${apartment.additionalCapacity}" name="internalName">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label for="notesInput">Bilješke</label>
						<textarea class="form-control" id="notesInput"
							rows="4" th:inline="text" name="notes">[[${apartment.apartmentNote}]]</textarea>
					</div>
				</div>

				<div class="formControls">
					<button type="submit" class="btn btn-outline-success" name="save"
						id="saveBtn" disabled>Spremi</button>
					<button type="button" class="btn btn-outline-secondary" name="edit"
						id="editBtn" onclick="enableSaveBtn()">Uredi</button>
					<button type="submit" class="btn btn-outline-danger" name="discard"
						id="discardBtn" disabled>Odbaci</button>
				</div>
		</form>
	</div>

	<script type="text/javascript">

    function enableSaveBtn() {
        document.getElementById("saveBtn").disabled = false;
        document.getElementById("discardBtn").disabled = false;
        document.getElementById("editBtn").disabled = true;
        var f = document.forms['mainForm'];
        for(var i=0,fLen=f.length;i<fLen;i++){
          f.elements[i].readOnly = false;//As @oldergod noted, the "O" must be upper case
        }
    }
    
    var f = document.forms['mainForm'];
    for(var i=0,fLen=f.length;i<fLen;i++){
      f.elements[i].readOnly = true;//As @oldergod noted, the "O" must be upper case
    }

</script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>
</html>
