<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<style type="text/css">
.tableFixHead {
	overflow-y: auto;
	height: 100px;
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
}

/* Just common table stuff. Really. */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px 16px;
}

th {
	background: #eee;
}

.tableFixHead, .tableFixHead td {
	box-shadow: inset 1px -1px #000;
}

.tableFixHead th {
	box-shadow: inset 1px 1px #000, 0 1px #000;
}
</style>

<title>Kalendar</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		<a class="navbar-brand" href="reserved-dates">Apartmani Ukić</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					href="reserved-dates">Pregled<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">Odaberi mjesec</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<div th:each="year : ${yearsInt}">
							<a class="dropdown-item" th:each="month : ${monthsInt}"
								th:href="'reserved-dates?month='+${month}+'&year='+${year}"
								th:text="${month}+'. mjesec, '+${year}+'.'"></a>
						</div>
					</div></li>

				<li class="nav-item"><a class="nav-link" href="reservations">Rezervacije</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="apartments">Apartmani</a></li>
			</ul>
			<div class="dropdown-divider"></div>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
			<a class="nav-link" href="login" th:if="${user == 'Neregistrirani korisnik'}">Neregistrirani korisnik<br>(Prijava)</a>
			<a class="nav-link" href="logout" th:if="${user != 'Neregistrirani korisnik'}" th:inline="text">[[${user}]]<br>(Odjava)</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<table class="table tableFixHead table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">datum</th>
					<th scope="col" th:each="apartment : ${apartments}"
						th:text="${apartment.apartmentName}">apartman
					</td>
				</tr>
			</thead>
			<tbody>

				<!-- rows in table croatian short for name of the week and apropriate colour -->
				<div th:each="date: ${month}">
					<div th:if="${date.dayOfWeek.name() == 'MONDAY'}">
						<span>
							<tr>
								<th scope="row"
									th:text="${#temporals.format(date, 'dd.MM.yyyy')} + ' PON'">datum
									PON</th>
								<td th:each="apartment : ${apartments}"><span
									th:if="${apartment.apartmentReservations.get(date)} != null">
										<a
										th:text="${apartment.apartmentReservations.get(date).tourists.name}"
										th:href="'reservations/'+${apartment.apartmentReservations.get(date).reservationId}">
								</span> <span
									th:if="${apartment.apartmentReservations.get(date) == null}">
										prazno </span></td>
							</tr>
						</span>

					</div>
					<div th:if="${date.dayOfWeek.name() == 'TUESDAY'}">
						<span>
							<tr>
								<th scope="row"
									th:text="${#temporals.format(date, 'dd.MM.yyyy')} + ' UTO'">datum
									UTO</th>
								<td th:each="apartment : ${apartments}"><span
									th:if="${apartment.apartmentReservations.get(date)} != null">
										<a
										th:text="${apartment.apartmentReservations.get(date).tourists.name}"
										th:href="'reservations/'+${apartment.apartmentReservations.get(date).reservationId}">
								</span> <span
									th:if="${apartment.apartmentReservations.get(date) == null}">
										prazno </span></td>
							</tr>
						</span>

					</div>

					<div th:if="${date.dayOfWeek.name() == 'WEDNESDAY'}">
						<tr>
							<th scope="row"
								th:text="${#temporals.format(date, 'dd.MM.yyyy')} + ' SRI'">datum
								SRI</th>
							<td th:each="apartment : ${apartments}"><span
								th:if="${apartment.apartmentReservations.get(date)} != null">
									<a
									th:text="${apartment.apartmentReservations.get(date).tourists.name}"
									th:href="'reservations/'+${apartment.apartmentReservations.get(date).reservationId}">
							</span> <span
								th:if="${apartment.apartmentReservations.get(date) == null}">
									prazno </span></td>
						</tr>
						</span>

					</div>

					<div th:if="${date.dayOfWeek.name() == 'THURSDAY'}">
						<tr>
							<th scope="row"
								th:text="${#temporals.format(date, 'dd.MM.yyyy')} + ' ČET'">datum
								ČET</th>
							<td th:each="apartment : ${apartments}"><span
								th:if="${apartment.apartmentReservations.get(date)} != null">
									<a
									th:text="${apartment.apartmentReservations.get(date).tourists.name}"
									th:href="'reservations/'+${apartment.apartmentReservations.get(date).reservationId}">
							</span> <span
								th:if="${apartment.apartmentReservations.get(date) == null}">
									prazno </span></td>
						</tr>
						</span>

					</div>

					<div th:if="${date.dayOfWeek.name() == 'FRIDAY'}">
						<tr>
							<th scope="row"
								th:text="${#temporals.format(date, 'dd.MM.yyyy')} + ' PET'">datum
								PET</th>
							<td th:each="apartment : ${apartments}"><span
								th:if="${apartment.apartmentReservations.get(date)} != null">
									<a
									th:text="${apartment.apartmentReservations.get(date).tourists.name}"
									th:href="'reservations/'+${apartment.apartmentReservations.get(date).reservationId}">
							</span> <span
								th:if="${apartment.apartmentReservations.get(date) == null}">
									prazno </span></td>
						</tr>
						</span>

					</div>

					<div th:if="${date.dayOfWeek.name() == 'SATURDAY'}">
						<span>
							<tr class="bg-primary">
								<th scope="row"
									th:text="${#temporals.format(date, 'dd.MM.yyyy')}  + ' SUB'">datum
									SUB</th>
								<td th:each="apartment : ${apartments}"><span
									th:if="${apartment.apartmentReservations.get(date)} != null">
										<a class="bg-primary text-white"
										th:text="${apartment.apartmentReservations.get(date).tourists.name}"
										th:href="'reservations/'+${apartment.apartmentReservations.get(date).reservationId}">
									</a>
								</span> <span
									th:if="${apartment.apartmentReservations.get(date) == null}">
										prazno </span></td>
							</tr>
						</span>
					</div>
					<div th:if="${date.dayOfWeek.name() == 'SUNDAY'}">
						<span>
							<tr class="bg-danger">
								<th scope="row"
									th:text="${#temporals.format(date, 'dd.MM.yyyy')} + ' NED'">datum
									NED</th>
								<td th:each="apartment : ${apartments}"><span
									th:if="${apartment.apartmentReservations.get(date)} != null">
										<a
										th:text="${apartment.apartmentReservations.get(date).tourists.name}"
										th:href="'reservations/'+${apartment.apartmentReservations.get(date).reservationId}">
									</a>
								</span><span
									th:if="${apartment.apartmentReservations.get(date) == null}"
									th:text="'prazno'"> prazno </span></td>
							</tr>
						</span>
					</div>
				</div>
			</tbody>
		</table>


	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>
</html>
